:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #646cff;
  transition: all 0.25s;
}
a:hover {
  color: #f2f2f2;
  border-bottom: 1px solid #868cfd;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
}

.app {
  flex-grow: 1;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  place-content: center center;
  place-items: center center;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
