<footer>
    <img src="palestine.png" alt="free palestine" class="logo">
    <div class="social">
        <a href="/">Twitter</a>
        <a href="/">Instagram</a>
        <a href="/">YouTube</a>
    </div>
    <div class="copy">
        copyright
    </div>
</footer>