<header>
    <img src="palestine.png" alt="free palestine" class="logo">
    <div class="header-links hide">
        <a href="/">Main</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a class="link-small" href="/">Signup</a>
    </div>
    <a class="fill" href="/">
        Signup
    </a>
    <button class="header-list">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="-0.5 -0.5 16.9 16.9">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
    </button>
</header>