:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #646cff;
  transition: all 0.25s;
}
a:hover {
  color: #f2f2f2;
  border-bottom: 1px solid #868cfd;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  padding: 1rem 2rem;
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: calc(100% - 3rem);
  overflow-x: hidden;
  box-shadow: 0 2px 2px rgb(54, 54, 54);
}
header .logo {
  height: 3rem;
  width: auto;
}
header div {
  display: flex;
  gap: 1.5rem;
}
header a.fill {
  height: 3rem;
  width: 6rem;
  display: flex;
  place-content: center center;
  place-items: center center;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.25s;
}
header a.fill:hover {
  background-color: #868cfd;
}
header a.fill:focus,
header a.fill:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.app {
  flex-grow: 1;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  place-content: center center;
  place-items: center center;
  text-align: center;
}

footer {
  border-top: 1px solid #282828;
  padding: 3rem 2rem 2rem 2rem;
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: calc(100% - 4rem);
  overflow-x: hidden;
}
footer .logo {
  height: 3rem;
  width: auto;
}
footer .social {
  display: flex;
  gap: 1.5rem;
}
footer .social a {
  background-color: #1d1d1d;
  border: 1px solid #646cff;
  color: #fff;
  width: 6rem;
  height: 3rem;
  padding: 0;
  display: flex;
  place-content: center center;
  place-items: center center;
  border-radius: 8px;
  transition: all 0.25s;
}
footer .social a:hover {
  border: 1px solid #868cfd;
  color: #fff;
}
footer .copy {
  color: #f2f2f2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
