<footer>
    <img src="palestine.png" alt="free palestine" class="logo">
    <div class="social">
        <a data-text="footer_social_twitter" href="/"></a>
        <a data-text="footer_social_instagram" href="/"></a>
        <a data-text="footer_social_youtube" href="/"></a>
    </div>
    <div data-text="footer_copy" class="copy">
    </div>
</footer>