<header>
    <img src="palestine.png" alt="free palestine" class="logo">
    <div class="header-links hide">
        <a data-text="header_main" href="/"></a>
        <a data-text="header_about" href="/about"></a>
        <a data-text="header_contact" href="/contact"></a>
        <a data-text="header_signup" class="link-small" href="/"></a>
    </div>
    <div class="header-actions">
        <div class="lang-selector">
            <input type="radio" name="lang" id="en">
            <label class="option-one" for="en">En</label>
            <input type="radio" name="lang" id="ar">
            <label class="option-two" for="ar">ع</label>
        </div>
        <a data-text="header_signup" class="header-action" href="/">
        </a>
    </div>
    <button class="header-list">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="-0.5 -0.5 16.9 16.9">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
    </button>
</header>