header {
    padding: 1rem 2rem;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: calc(100% - 3rem);
    overflow-x: hidden;
    box-shadow: 0 2px 2px var(--box-shadow-color);
}

header .logo {
    height: 3rem;
    width: auto;
}

header .header-links {
    display: flex;
    gap: 1.5rem;
}
header .header-links a {
    border-bottom: 1px solid var(--primary-color);
}
header .header-links a:hover {
    border-bottom: 1px solid var(--primary-light-color);
}
header .header-links a.link-small {
    display: none;
}

header a.fill {
    height: 3rem;
    width: 6rem;
    display: flex;
    place-content: center center;
    place-items: center center;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.25s;
}

header a.fill:hover {
    background-color: var(--primary-light-color);
}

header a.fill:focus,
header a.fill:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.header-list {
    display: none;
}

@media screen and (max-width: 576px) {
    header {
        height: 3rem;
        z-index: 2;
    }
    header .header-links {
        position: absolute;
        top: 5rem;
        left: 0;
        background-color: var(--background-dark-color);
        width: 100%;
        height: calc(100vh - 4rem);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 2rem 0;
        padding: 2rem 0;
        z-index: 3;
    }
    header .header-links a {
        width: 75%;
        text-align: center;
        margin: 0 auto;
        border-bottom: 1px solid var(--primary-color);
    }
    header .header-links a:hover {
        border-bottom: 1px solid var(--primary-light-color);
    }
    header .header-links a.link-small {
        display: initial;
    }
    header .header-links.hide {
        animation: fadeOut linear 0.25s;
        visibility: hidden;
    }
    header .header-links.hide a {
        animation: fadeOut linear 0.25s;
        visibility: hidden;
    }
    header .header-links.show {
        animation: fadeIn linear 0.25s;
        visibility: visible;
    }
    header .header-links.show a {
        visibility: visible;
    }
    header a.fill {
        display: none;
    }
    .header-list {
        display: flex;
        background-color: transparent;
        color: var(--text-color);
        height: 3rem;
        width: 3rem;
        border: none;
        outline: none;
    }
    .header-list svg {
        width: 3rem;
        height: 3rem;
        margin: auto;
    }
    .header-list:focus {
        background-color: var(--background-dark-color);
    }
}